html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

body {
    display: grid;
    grid-template-columns: 0.5fr 3fr;
    grid-template-rows: repeat(4,  minmax(0, 1fr));
    background-color: #f9f8e9;
}

header {
    color: white;
    background-color: #324d78;
    padding: 0.5rem;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    border-bottom: 3px solid black;
}

.header-cont {
    display: grid;
    grid-template-columns: 1fr 2rem repeat(10, 1fr);
    align-items: center;
    justify-items: center;
    gap: 0.5rem;
}

.header-cont *:hover{
    transition: all 0.2s ease-out;
    color: #b09fcc;
    scale: 1.3;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.search {
    grid-column: 2 / 3;
    justify-self: end;
}

.header-cont input {
    grid-column: 3 / 8;
    justify-self: stretch;
    outline: none;
    border-radius: 7px;
    border: 3px solid #62666e;
}

.header-cont input:focus {
    border: 3px solid #b09fcc;
}

.header-cont input:hover {
    font-weight: bold;
    border: 3px solid #b09fcc;
    scale: 1;
}

.notification {
    grid-column: 9 / 10;
    justify-self: end;
}


.small-img {
    height: 2.4rem;
    width: 2.4rem;
    border-radius: 50%;
    border: 3px solid #b09fcc;
}

.user {
    grid-column: 11 / 13;
    justify-self: start;
    border: 1px solid #9c8aba;
    padding: 5px 15px;
    border-radius: 10px;
}

.header-cont-two {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1rem;
    align-items: center;
    justify-items: center;
}

.big-img {
    border: 3px solid #b09fcc;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    grid-column: 2 / 3;
}

.salute {
    height: 100%;
    grid-column: 3 / 9;
    display: grid;
    grid-column: 1fr;
    grid-template-rows: auto auto;
    align-items: center;
    justify-self: start;
    gap: 0.2rem;
}

.salute p {
    font-style: italic;
    margin: 0;
    padding: 0;
    align-self: end;
    
}

.salute h3 {
    margin: 0;
    padding: 0;
    align-self: start;
    font-size: 25px;
}

.new-button {
    grid-column: 9 / 10;
}

header button {
    padding: 3px 25px;
    border-radius: 5px;
    outline: none;
    border: 3px solid white;
    background-color: #b09fcc;
    color: #2e2e30;
    font-weight: bold;
    font-size: 15px;
}

header button:hover {
    transition: all 0.2s ease-out;
    scale: 1.1;
}

aside {
    grid-row: 1 / 4;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 80%;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    border-radius: 5px;
    background-color: #324d78;
    color: white;
}

.aside-cont-one {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 0.3rem;
    border-bottom: 1px solid black;
    padding-left: 20px;
}


.aside-cont-two {
    display: grid;
    grid-template-rows: repeat(9, 1fr);
}

.aside-cont-two div {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-row: 1fr;
    gap: 1rem;
    align-items: center;
    border-bottom: 1px solid black;
    padding-left: 20px;
}

.aside-cont-two div:hover{
    transition: all 0.2s ease-out;
    color: #b09fcc;
    font-size: 18px;
}


.aside-cont-two div span {
    justify-self: end;
}

.aside-cont-two div h5 {
    margin: 0;
    justify-self: start;
}


main {
    grid-row: 2 / 5;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-rows: repeat(3, minmax(200px 1fr));
    column-gap: 0.5rem;
    padding: 0.5rem;
}

.first-sec {
    padding: 0 1rem;
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
}

.first-sec h3, .second-sec h3 , .third-sec h3{
    padding: 1rem 0;
}

section * {
    margin: 0;
}

.title-one, .title-two, .title-three {
    border-radius: 5px;
    padding: 5px 15px;
    font-size: 20px;
    font-style: italic;
    border: 1px solid black;
}

.title-one {
    background-color: #9c8aba;
}

.title-two {
    background-color: #e5e4d9;
}

.title-three {
    background-color: #6dc5d9;
}

.container-one {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    gap: 1rem;
}

.cards {
    border-radius: 15px;
    background-color: #b09fcc;
    color: black;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2rem min-content min-content;
    gap: 1rem;
    align-items: center;
    box-shadow: 3px 3px 5px black;
}

.cards h5 {
    font-size: 17px;
    border-bottom: 2px solid black;
}

.cards h5:hover {
    transition: all 0.2s ease-in-out;
    font-size: 19px;
    color: #324d78;
}

.icons {
    display: grid;
    grid-template-columns: 1fr repeat(3, auto);
    grid-template-rows: 1fr;
    gap: 2rem;
}

.icons *:hover {
    transition: all 0.2sec ease-in-out;
    color: #324d78;
    scale: 1.05;
}

.first-icon {
    grid-column: 2 / 3;
}

.second-sec , .third-sec{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
}


.container-two, .container-three {
    display: grid;
    gap: 1rem;
    grid-template-rows: min-content;
    grid-auto-rows:  min-content;
}

.alerts {
    border-radius: 15px;
    padding: 1rem;
    display: grid;
    grid-template-rows: min-content min-content;
    gap: 0.5rem;
    box-shadow: 3px 3px 5px black;
    background-color: #e5e4d9;
}

.alerts h5 {
    font-size: 15px;
}

.alerts h5:hover {
    transition: all 0.2s ease-out;
    color: #9c8aba;
    font-size: 16px;
}

.trending {
    padding: 0.5rem;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.5rem;
    border-radius: 15px;
    box-shadow: 3px 3px 5px black;
    background-color: #6dc5d9;
    outline: none;
}

.trending:hover {
    transition: all 0.2s ease-in-out;
    box-shadow: 6px 6px 3px #b09fcc;
}

.name {
    font-size: 17px;
    font-weight: bold;
}

